#board {
  display: inline-block;
}

.board_row {
  white-space: nowrap;
}

.board_space {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #ccbb99;
  vertical-align: bottom;
  border: 2px solid #333333;
  cursor: default;
}

.board_space pre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #eeddbb;
  border: 2px solid #333333;
  border-radius: 10px;
  cursor: default;
}

.tile-hover {
  cursor: pointer;
}

.rack-letters {
  padding: 10px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 6px;
  margin: 10px;
}

.game-board {
  background-color: #DDD;
}
